* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 70px;
  font-family: "Special Elite", serif;
  color: rgb(175, 32, 32);
  text-shadow: 2px 2px 6px #000000;
}
h2 {
  font-size: 30px;
  font-family: "Kiwi Maru", serif;
  color: rgb(146, 146, 146);
}

label {
  font-family: "Bree Serif", serif;
  font-size: 20px;
  color: rgb(146, 146, 146);
}

button {
  all: unset;
  border: none;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  font-family: "Bree Serif", serif;
  color: rgb(255, 255, 255);
  cursor: pointer;

  border-radius: 10px;
  transition: 0.25s;
}

button:hover {
  background-color: rgb(172, 52, 52);
}

/* Clase reutilizable para etiquetas que queremos mostrar como botones */
.btn {
  all: unset;
  border: none;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  font-family: "Bree Serif", serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  transition: 0.25s;

  /* Estilos adicionales para que funcione bien en <a> y <button> */
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: rgb(172, 52, 52);
}

input {
  all: unset;
  font-family: "Bree Serif", serif;
  border: 2px solid rgb(146, 146, 146);
  background-color: rgb(37, 37, 37);
  padding: 10px;
  border-radius: 8px;
  color: white;
  transition: 0.25s;
}

textarea {
  resize: none;
  field-sizing: content;
  width: 100%;
  height: 200px;
  font-family: "Bree Serif", serif;
  border: 2px solid rgb(146, 146, 146);
  background-color: rgb(37, 37, 37);
  padding: 10px;
  border-radius: 8px;
  padding-bottom: 5px;
  color: white;

  transition: 0.25s;
}

textarea:focus {
  outline: none;
}

.body {
  width: 100%;
  display: flex;
}

.container {
  width: 100%;
  background-color: rgb(24, 24, 24);
  border-radius: 20px;
  padding: 25px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerRow {
  width: 100%;
  background-color: rgb(24, 24, 24);
  border-radius: 20px;
  padding: 25px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subtitle {
  color: white;
  font-size: 25px;
  align-self: flex-start;
}

.topSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skullStyle {
  width: 25px;
  height: auto;
  margin: 2px 2px;
}

Link {
  text-decoration: none;
  all: unset;
}

select {
  all: unset;
  font-family: "Bree Serif", serif;
  border: 2px solid rgb(53, 53, 53);
  background-color: rgb(14, 14, 14);
  padding: 4px 10px;
  border-radius: 8px;
  padding-bottom: 5px;
  color: rgb(167, 60, 60);
  transition: 0.25s;
}
select:hover {
  border-color: rgb(172, 52, 52);
}
