.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.newComment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.newComment__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.newComment__text {
  height: 9vh;
}

.newComment__button {
  align-self: last baseline;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  background-color: rgb(15, 15, 15);
  padding: 15px;
  border-radius: 15px;
}

.comment__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.comment__header label {
  color: rgb(192, 192, 192);
  font-size: 16px;
  margin: 0 5px;
}

.comment__userimage {
  width: 40px;
  height: automatic;
  border-radius: 50%;
}
.comment__body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment__text {
  font-family: "Bree Serif", serif;
  font-size: 15px;
  color: rgb(220, 220, 220);
}
