.navbar {
  background-image: url("../assets/navbarBackground.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
}

.navbar__session {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.navbar__info {
  display: flex;
  flex-direction: column;
}

.navbar__categories {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
}

.navbar__logo {
  padding: 0;
  margin: 0;
  font-size: 35px;
  text-decoration: none;
}

.navbar__image {
  width: 50px;
  height: automatic;
  border-radius: 50%;
  margin: 0 15px;
}

.navbar__user {
  all: unset;
  font-family: "Bree Serif", serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.navbar__logOut {
  all: unset;
  font-family: "Bree Serif", serif;
  color: rgb(175, 175, 175);
  font-size: 16px;
  cursor: pointer;
}

.navbar__logOut:hover {
  color: rgb(255, 255, 255);
}

.navbar__button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Special Elite", serif;
  font-size: 23px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #00000075;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 15px;
  padding: 10px;
}

.navbar__button:hover {
  color: rgb(233, 233, 233);
  background-color: rgb(0, 0, 0);
}
