.body {
  background-color: rgb(32, 32, 32);
  background-image: url("../assets/pageBackground.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
  padding-top: 8%;
}

.rosa {
  position: fixed;
  top: 50%;
  left: 87%;
  width: 250px;
  height: auto;
  z-index: 1000;
}

.home__image {
  width: 1200px;
}

.home__ranking-group {
  display: flex;
  gap: 5px;
}

.home__ranking-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(5, 5, 5);
  border-radius: 15px;
  padding: 10px;
}

.home__ranking-score{
  font-family: "Bree Serif", serif;
  font-size: 25px;
  color: white;
  display: flex;
  gap: 5px;

}

.skullIcon {
  width: 25px;
  height: auto;
  margin: 2px 2px;
}

.home__city {
  font-family: "Special Elite", serif;
  color: rgb(172, 52, 52);
  font-size: 22px;
}

.home__counter {
  font-family: "Special Elite", serif;
}

.home__subtitle {
}

.home__welcome {
  font-family: "Special Elite", serif;
}
