.login {
  background-image: url("../assets/background-login.png");
  display: grid;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  height: 100vh;
  width: 100%;
  background-color: #111111;
}

.login__presentation {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login__data {
  display: flex;
  align-items: start;
  margin-top: 30%;
  justify-content: center;
}

.login__form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.login__subtitle {
  color: white;
}
.login__label {
  margin-top: 20px;
}
.login__input {
  all: unset;
  width: 60%;
  font-family: "Bree Serif", serif;
  border-bottom: 2px solid rgb(146, 146, 146);
  padding: 5px;
  color: white;
  transition: 0.25s;
}
.login__input:hover {
}
.login__button {
  margin-top: 10px;
  font-size: 20px;
}

.login__register {
  all: unset;
  margin-top: 20px;
  font-family: "Bree Serif", serif;
  font-size: 18px;
  color: rgb(172, 52, 52);
  cursor: pointer;
  transition: 0.25s;
}
.login__register:hover {
  text-decoration: underline;
}
