.body {
  background-color: rgb(32, 32, 32);
  background-image: url("../assets/pageBackground.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.profile__photo_div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 200px;
}

.profile__frame {
  position: absolute;
  width: 370px;
  height: 420px;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.profile__photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__changePhotoBtn {
  position: absolute;
  padding: 115px 78px;
  font-size: 16px;
  background-color: #5c545422;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.profile__changePhotoBtn:hover {
  background-color: #8d242444;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
  padding-top: 8%;
}

.profile_labelNombre {
  font-size: 25px;
  margin-bottom: 20px;
}

.profile_label {
  font-family: "Bree Serif", serif;
  color: #979797;
  font-size: 17px;
}

.profile__input {
  all: unset;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  color: #ffffff;
  font-family: "Bree Serif", serif;
  font-size: 16px;
}

.editable {
  background-color: rgb(41, 41, 41) !important;
}

.profile_p {
  font-family: "Bree Serif", serif;
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 15px;
}

.profile__details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile__buttons {
  display: flex;
  justify-content: center;
}

.profile__MisPubli_Button {
  margin: 0 100px;
}

.profile__MisPubli_Button {
  font-family: "Bree Serif", serif;
  color: rgb(143, 40, 40);
}

.profile_btnEditYElim {
  display: flex;
}
.profile__delete_Button {
  margin: 0 15px;
  font-family: "Bree Serif", serif;
  background-color: #b84848;
}

.profile__userPubli {
  width: 100%;
}

.modal {
  position: fixed; /* Que se quede encima de todo */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.8); /* Oscurecer fondo */
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99999; /* MUY IMPORTANTE */
}

.modal-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modal-content h2 {
  color: rgb(218, 218, 218);
  margin-bottom: 20px;
}

.btnModal {
  margin: 10px;
  background-color: rgb(46, 46, 46);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.bbCienpies {
  pointer-events: none;
  position: fixed;
  width: 300px;
  height: auto;
  top: 15%;
  left: -3%;
  rotate: 30deg;
}

.spaceKitty {
  pointer-events: none;
  position: fixed;
  width: 250px;
  height: auto;
  top: 15%;
  right: -2%;
}

.ojoTeleCalaca {
  pointer-events: none;
  position: fixed;
  width: 250px;
  height: auto;
  bottom: -5%;
  right: -2%;
}

.ojoDerretido {
  pointer-events: none;
  position: fixed;
  width: 250px;
  height: auto;
  bottom: -5%;
  right: -2%;
}

.tentaculo {
  pointer-events: none;
  position: fixed;
  width: 250px;
  height: auto;
  bottom: 0%;
  left: -3%;
}
