.body {
  background-color: rgb(32, 32, 32);
  width: 100%;
  min-height: 100vh;
}

.profile__photo_div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.profile__photo_div img{
    width: 30%;
    border-radius: 100%;
}

.profile__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
}

.profile_labelNombre{
    font-size: 25px;
    margin-bottom: 20px;
}

.profile_label{
    font-family: "Bree Serif", serif;
    color: #979797;
    font-size: 17px;
    
}

.profile_p{
    font-family: "Bree Serif", serif;
    color: #FFFFFF;
    font-size: 17px;
    margin-bottom: 15px;
}

.profile__details{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.profile__buttons{
    display: flex;
    justify-content: center;
}

.profile__MisPubli_Button{
    margin: 0 100px;
}

.profile__MisPubli_Button{
    font-family: "Bree Serif", serif;
  color: rgb(143, 40, 40);
}

.profile_btnEditYElim{
    display: flex;

}
.profile__delete_Button{
    margin: 0 15px;
    font-family: "Bree Serif", serif;
    background-color: #B84848;
}

.profile__userPubli{
    width: 100%;
}