.register {
  background-image: url("../assets/loginBackground.png");
  display: grid;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  height: 100vh;
  width: 100%;
  background-color: #111111;
}

.register__presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register__data {
  display: flex;
  align-items: start;
  margin-top: 30%;
  justify-content: center;
}

.register__form {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.register__subtitle {
  color: white;
  margin: 2px;
}

.register__alert {
  margin-top: 5px;
  min-height: 1.5em;
  color: rgb(172, 52, 52);
  width: 60%;
}

.register__label__nombre {
  margin-top: 5px;
}
.register__label {
  margin-top: 20px;
}
.register__input {
  all: unset;
  width: 60%;
  font-family: "Bree Serif", serif;
  border-bottom: 2px solid rgb(146, 146, 146);
  padding: 5px;
  color: white;
  transition: 0.25s;
}
.register__button {
  margin-top: 10px;
  font-size: 20px;
}

.register__button--back {
  position: absolute;
  right: 720px;
  top: 0;
  font-size: 20px;
  border-radius: 50%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(63, 63, 63);
}

.register__password-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register__input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.register__input-group button {
  margin: 0;
  background-color: transparent;
  padding: 0;
}

.register__pasword-hide {
  color: rgb(172, 52, 52);
}

.register__pasword-show {
  color: rgb(146, 146, 146);
}

.register__pasword-show,
.register__pasword-hide {
  position: absolute;
  right: 20%;
}
