.body {
  background-color: rgb(32, 32, 32);
  background-image: url("../assets/pageBackground.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.updatePost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
  padding-top: 8%;
}

.updatePost__header {
  display: flex;
  justify-content: space-between;
}

.category_selector {
  display: flex;
  gap: 10px;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.updatePost__media {
  position: relative;
  display: inline-block;
  width: fit-content;
  align-self: center;
}

.updatePost__labelMedia {
  align-self: last baseline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.updatePost__inputMedia {
  all: unset;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 0;
  cursor: pointer;
}

.updatePost__tag {
  all: unset;
  font-family: "Bree Serif", serif;
  width: 20%;
  background-color: wheat;
  color: rgb(29, 29, 29);
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 15px;
}

.updatePost__location {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}

.updatePost__button {
  align-self: last baseline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.post__postImage {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}